<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>First steps</title></%block>

<section class="container about" style="width: auto;">
  
  <ul class="faqlanguage">
  <a href="#ENG">English</a>
  <a href="#ESP">Español</a>
  <a href="#POR">Portuguese</a>
  </ul>
  <br><br>
      <!-------------------------- ENGLISH ---------------------------------->
  <a id="ENG"></a>
  <h2 class="faqtitle">First steps</h2>

<!-------------------------- ESPANOL ---------------------------------->
  <a id="ESP"></a>
  <h2 class="faqtitle">Primeros pasos</h2>
  <h3>Primeros pasos para empezar a utilizar la plataforma E-Huésped​</h3>

<ol>
<li>Usted debe ingresar a http://www.e-huesped.org/ y dirigirse a "Registrarse"​ en la barra superior de navegación. </li>
<li>Allí​ se le mostrará un formulario ​que debe completar ​o, si así lo desea, puede ingresar con su cuenta de Facebook o Google. Recuerde que debe aceptar los términos de servicio para crear su cuenta. </li>
<li>Una vez que usted hizo click en "Crear mi cuenta", leerá la siguiente leyenda: "Gracias por Registrarte! Ha creado con éxito una cuenta en e-huesped.org. Hemos enviado un correo de activación a [su e-mail]. Para activar su cuenta y comenzar a inscribirse en los cursos, haga clic en el vínculo en el mensaje." </li>
​<li>Diríjase a su casilla de correo electrónico (la que ingresó al registrarse)​.</li>
​<li>Abra el correo que le llegó de support@e-huesped.org ​con el asunto: "Activar tu cuenta en e-huesped.org"</li>
<li>Lea el correo y haga click en el  link ​ de activación de cuenta.​</li>
<li>A continuación​ se abrirá nuevamente una pestaña en su navegador y usted leerá: "¡Activación Completada!  Gracias por activar su cuenta”. Ahora puede Iniciar sesión  ​Esto significa que su cuenta ha sido validada.​</li>
<li>Allí debe clickear en "Iniciar sesión"</li>
</ol>

<p><strong>​De esta manera usted se registra en la plataforma de e-huesped. Una vez registrado podrá anotarse en los diversos cursos.​</strong></p>


​<h3>Primeros pasos para registrarse en el curso “Avances en Terapia Antiretroviral (TARV) 2015 - 2016”.​</h3>

<ol>
<li>Si usted tiene un código provisto por su agente de propaganda médica, recibirá un mail del Equipo E-Huésped  con asunto "Gracias por su interés en el curso" indicándole que ​dentro de las próximas 48 horas estaremos enviándole otro correo con el permiso de acceso a la web del curso.</li>
​<li>Si usted NO tiene un cód

<p><strong>​Dentro de las 48 hs:</strong>​</p>

<ol>
<li>Recibirá  un e-mail de support@e-huesped.org, cuyo asunto es: "Ha sido invitado a registrarse en Avances en Terapia Antirretroviral (TARV) 2015-2016".  En el mismo, se encontrará con ​un link que le permitirá registrarse en la plataforma de e-learning. Haga click en el link de Registro (http://e-huesped.org/register)</li>
<li>​Se abrirá una nueva pestaña en su navegador. </li>
<li>Allí, tal como lo indica el mensaje de e-mail, debe completar ​nuevamente ​sus datos.</li>
<li>Una vez que usted ya completó todos sus datos, debe hacer click en: "Crear mi cuenta en e-huesped.org" </li>
<li>A continuación, recibirá un e-mail, cuyo asunto será: "Activar tu cuenta en e-huesped.org". El mismo contendrá el siguiente mensaje: "Para empezar , active su cuenta haciendo clic en el enlace de más abajo (también se puede copiar y pegar el enlace en la barra de direcciones del navegador). [link]”</li>
<li>Haga click en el link del e-mail para activar su cuenta. </li>
<li>Se abrirá un nueva pestaña que contendrá el panel del control del curso que usted seleccionó previamente. Ahora que se registró y activó su cuenta, verá "Avances en Terapia Antirretroviral (TARV) 2015-2016" en su lista de cursos disponibles.</li>
<li>Haga click en "Ver curso". </li>
<li>Usted ha ingresado al curso. </li>


<!-------------------------- Portuguese ---------------------------------->
  <a id="POR"></a>
  <h2 class="faqtitle">Primeiros passos</h2>
  <h3>Primeiros passos na plataforma e primeiros passos para se registrar em Latam</h3>

  <h3>Primeiros passos para começar a utilizar a plataforma E-Huésped​</h3>
  
<ol>
<li>Você deve ingressar no site http://www.e-huesped.org/ e se dirigir a "Registrar-se"​ na barra superior de navegação.  </li>
<li>Ali​você verá um formulário ​que deve preencher ​ou, se desejar, pode ingressar com sua conta de Facebook ou </li>
Google. Lembre que deve aceitar os termos de serviço para criar sua conta. 
<li>Depois que você clicou em "Criar minha conta", lerá a seguinte legenda: "Obrigado por se registrar! Você criou
com sucesso uma conta no e-huesped.org. Nós enviamos um e-mail de ativação a [seu e-mail]. Para ativar 
sua conta e começar a se inscrever nos cursos, clique no link presente na mensagem." </li>
​<li>Vá à sua conta de e-mail (a que ingressou ao se registrar)​.</li>
​<li>Abra o e-mail que chegou de support@e-huesped.org ​com o assunto: "Ativar sua conta no e-huesped.org"</li>
<li>Leia o e-mail e clique no  link ​ de ativação de conta.​</li>
<li>A seguir​ se abrirá novamente uma aba em seu navegador e você lerá: "Ativação Completada! Obrigado por ativar sua conta”. Agora pode Iniciar sessão. Isto significa que sua conta foi validada.​</li>
<li>Aí você deve clicar em "Iniciar sessão"</li>
</ol>

​<p><strong>Desta maneira você se registra na plataforma do e-huésped. Depois de registrado, você poderá se inscrever nos diversos cursos.​</strong>​</p>

  <h3>​Primeiros passos para se registrar no curso “Avanços na Terapia Antirretroviral (TARV) 2015 - 2016”.​</h3>
  
 <ol>
<li>Se você tem um código fornecido pelo seu agente de propaganda médica, receberá um e-mail da
Equipe E-Huésped com o assunto "Obrigado pelo seu interesse no curso" indicando que ​dentro das 
próximas 48 horas vamos lhe mandar outro e-mail com a permissão de acesso à web do curso.</li>
<li> ​Se você NÃO tem um código fornecido pelo seu agente de propaganda médica, guardaremos seus 
dados em lista de espera para o próximo lançamento do curso.</li>
  </ol>
  
  <p><strong>Em um prazo de 48 hs:​</strong>​</p>
  
<ol>
<li>Você receberá um e-mail de support@e-huesped.org, cujo assunto é: "Você foi convidado a se registrar em 
Avanços na Terapia Antirretroviral (TARV) 2015-2016". No mesmo, você encontrará um link que lhe permitirá 
se registrar na plataforma de e-learning. Clique no link de Registro (http://e-huesped.org/register)</li>
<li>​Uma nova aba se abrirá em seu navegador. </li>
<li>Ali, tal como indica a mensagem de e-mail, você deve preencher ​novamente os ​seus dados.</li>
<li>Depois que você já preencheu todos os seus dados, deve clicar em: "Criar minha conta no e-huesped.org" </li>
<li> A seguir, você receberá um e-mail, cujo assunto será: "Ativar sua conta no e-huesped.org". O mesmo conterá a 
seguinte mensagem: "Para começar, ative sua conta clicando no link abaixo (também se pode copiar e colar o 
link na barra de endereços do navegador). [link]”</li>
<li>Clique no link do e-mail para ativar sua conta. </li>
<li>Uma nova aba contendo o painel de controle do curso que você selecionou previamente se abrirá. Agora que 
você se registrou e ativou sua conta, verá "Avanços na Terapia Antirretroviral (TARV) 2015-2016" na sua lista 
de cursos disponíveis.</li>
<li>Clique em: "Ver curso". </li>
<li>Você ingressou no curso.</li>
</ol>
  
  
</section>


