<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About E-Huesped</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#careers') > -1 ) {
        $('section#careers').show();
        $('#about-menu a.careers').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>
 
## About Section ##   
		<section class="container about" style="width: auto;">
    <a href="#ENG">English</a><br>
	  <a href="#ESP">Español</a><br>
      <a href="#POR">Portuguese</a>
     <br>
	 <br>
	 <br>
	 
      <!-------------------------- ENGLISH ---------------------------------->
  <a id="ENG"></a>
 	  
        <h2>About <span class="edx">E-Huesped</span></h2>
        
        <p><strong>e-huesped</strong> aims at communicating news about the progress made in the fields of HIV/aids, viral hepatitis and other transmissible diseases, in a swift and dynamic way using an online platform which allows the continuous collaboration and updating and information exchange with professionals throughout the world.</p>

		<p>The platform is accessible at any time and from any place. It has the advantage that classes adapt to the student rather than the other way around.</p>

		<p>The educational strategy is part of a global trend in education called MOOC (massive on-line open course) (MOOC, according to the acronym in English.</p>

		<p>It is implemented on the Edx platform developed by MIT and Harvard. That is why e-huesped.org is a pioneer in the medical field as well as in scientific research and technological development.</p>

		<p>We trust that you will profit from the courses we will be producing so as to keep contributing to the permanent updating of professionals in the health team. I hope to see you in a class so, we welcome you in advance to this new training and collaboration space we have created.</p>

		<p>E-huesped was developed by <a href="http://www.huesped.org.ar">Fundación Huésped</a> an Argentinean organization with projects that reach throughout Latin America responding to HIV/AIDS as both an infectious disease and a social challenge.</p>

		<p>We work to improve information, education and prevention access; expand public support; facilitate research and continuing education of health professionals and increase availability of social and health services, including protection against discrimination.</p>
        </article>
      <hr class="fade-right-hr-divider">
	  <br><br>
	  
	   <!-------------------------- ESPANOL ---------------------------------->
  <a id="ESP"></a>
 	  
        <h2>Acerca de <span class="edx">E-Huesped</span></h2>
        
        <p>El objetivo de <strong>e-huesped</strong> es difundir los nuevos conocimientos y progresos en el campo del VIH/sida, las hepatitis virales y otras enfermedades transmisibles de una forma dinámica. Para ello desarrollamos una plataforma virtual que permite la colaboración continua y la actualización de la información entre profesionales del mundo..</p>

		<p>La plataforma es accesible desde cualquier lugar del mundo y en cualquier momento. Tiene la ventaja de adaptarse a los estudiantes en vez de que los estudiantes se adapten a las clases.</p>

		<p>La estrategia educativa de e-huesped se enmarca en un movimiento globlal de acceso a la educación denominada MOOC (massive on-line open course, por su sigla en inglés y cursos on-line masivos y abiertos en español).</p>

		<p>Se implementa sobre la base de la plataforma EDX, desarrollada por MIT y Harvard. Por este motivo Fundación Huésped es pionera en el campo de la atención médica, la investigación científica y el desarrollo tecnológico.</p>

		<p>Confiamos en que nuestros cursos serán muy útiles para los profesionales de la salud, contribuyendo a la actualización continua del equipo de cuidado de la salud.</p>

		<p>e-huesped fue desarrollado por  <a href="http://www.huesped.org.ar">Fundación Huésped</a> ,una organización argentina cuyos proyectos alcanzan diversos países de América Latina  en respuesta al VIH/sida, las hepatitis virales y otras enfermedades transmisibles como problemas de salud y retos a las sociedades.</p>

		<p>Trabajamos desde un abordaje integral en incidencia pública, investigación, gestión del conocimiento, construcción de capacidades y servicios directos.  Nuestra meta es una sociedad equitativa, saludable y sustentable con acceso a servicios, atención y derechos humanos, donde sean garantizados los derechos a la salud en un contexto de no discriminación.</p>
        </article>
      <hr class="fade-right-hr-divider">
	  <br><br>
	   <!-------------------------- PORTUGUES ---------------------------------->
  <a id="POR"></a>
 	  
        <h2>Sobre <span class="edx">E-Huesped</span></h2>
        
        <p>O objetivo do <strong>e-huesped</strong> é difundir os novos conhecimentos e progressos no campo de HIV/SIDA, as hepatites virais  e outras doenças transmissíveis de uma forma dinâmica. Para isso desenvolvemos uma plataforma virtual que permite a colaboração contínua e a actualização da informação entre profissionais do mundo.</p>

		<p>A plataforma é acessível em qualquer lugar do mundo e em qualquer momento. Tem a vantagem de se adaptar aos estudantes ao invés dos estudantes se adaptar às aulas.</p>

		<p>A estratégia de educação do e-huesped faz parte de um movimento globlal de acesso à educação chamado MOOC (massive on-line open course, por sua sigla em inglês e Cursos Online Massivos e Abertos em português).</p>

		<p>É implementada na base da plataforma EDX, desenvolvida por MIT e Harvard. Por este motivo Fundación Huésped é pioneira no campo da atenção médica, investigação científica e desenvolvimento tecnológico.</p>

		<p>Estamos confiantes de que nossos cursos serão muito úteis para os profissionais da saúde, contribuindo para a atualização contínua da equipe de cuidados da saúde.</p>

		<p>e-huesped foi desenvolvido pela  <a href="http://www.huesped.org.ar">Fundación Huésped</a>, uma organização argentina cujos projetos alcançam vários países da América Latina  em resposta ao HIV/SIDA, as hepatites virais e outras doenças trasmissíveis como problemas de saúde e desafios às sociedades.</p>

		<p>Trabalhamos a partir de uma abordagem abrangente em advocacia, investigação, gestão do conhecimento, desenvolvimento de capacidades e serviços diretos.  Nosso objetivo é uma sociedade equitativa, saudável e sustentável com acesso a serviços, atenção e direitos humanos, onde sejam garantidos os direitos à saúde num contexto de não-discriminação.</p>
        
		</article>
      <hr class="fade-right-hr-divider">
    </section>