<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>FAQ</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Frequently Asked Questions</a>
  </nav>

  <ul class="faqlanguage">
  <li><a href="#ENG">English</a></li>
  <li><a href="#ESP">Español</a></li>
  <li><a href="#POR">Portuguese</a></li>
  </ul>
  <br><br>
      <!-------------------------- ENGLISH ---------------------------------->
  <a id="ENG"></a>
  <h2>FAQ (English)</h2>
  <h3>Our goal is to provide you great self-service tools that ensure your success. Still need help after reading these? Please send your question to info@e-huesped.org or, if you are a current student, post your question(s) in your course discussion forum.</h3>
  <h2>e-huesped BASICS</h2>
  <ul class="faq">
<li class="pregunta">Who can take an e-huesped course? How do I sign up ?</li>
<li class="respuesta">e-huesped courses are open to everyone*. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn.To sign up, create an e-huesped  account and then register for the course of your choice. Choose <a href="http://e-huesped.org/register">Register Now</a> to get started. Unless you choose a verified certificate, registration is free! *Except Professional Courses</li>
<li class="pregunta">What browsers are supported for use with e-huesped courses?</li>
<li class="respuesta">Our courseware works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</li>
</ul>
<span><strong>What if I have technical trouble with registration, login, or course access?</strong></span>
<p><span>Many problems with registration, login, or access to e-huesped courses are caused by browser issues. Here are some things to try:
- Switch to a current version of Chrome or Firefox
- Check your browser settings to ensure both JavaScript and cookies are enabled
- Clear your browser's cache</p></span>
<span><strong>What does it cost to take a course?</strong></span>
<p><span>With the exception of specified professional education courses, e-huesped courses are free for everyone. Some courses have a fee for verified certificates but are free to audit.</p></span>
<span><strong>Do e-huesped courses have transcripts?</strong></span>
<p><span>Yes. e-huesped course videos have interactive transcripts, which can be accessed by clicking the Closed Captions (cc) tab in the lower right corner of the video player.  Transcripts will appear to the right of the screen.</p></span>
<span><strong>Can I access e-huesped courses on my smart phone or tablet computer?</strong></span>
<p><span>At this time, e-huesped does not fully support access with mobile devices. While many components of your courses will function, some may not.</p></span>
<span><strong>What happens if I have to quit a course? Will I be able to take the same or another course in the future?</strong></span>
<p><span>You may unregister from an e-huesped course at anytime. There are absolutely no academic penalties associated with incomplete e-huesped studies. You may register for the same course (provided we are still offering it) at a later time.
Note: If you registered and paid for a verified certificate, refunds are only available while verified registration is open your course. To request a refund, contact info@huesped.org and include your order number as well as the course you are dropping.</p></span>
<strong>What is the e-huesped <a href="http://e-huesped.com/tos">honor code </a>?</strong></span>
<p><span>You’ll find the e-huesped honor code <a href="http://e-huesped.com/tos">here</a>. Each course may also have specific agreements for student collaboration and discussion.</p></span>
<span><strong>I love e-huesped! How can I donate to the organization?</strong></span>
</p><span>Thank you! Please visit our <a href="https://www.huesped.org.ar/dona/vos">donate page </a>. Any contribution is greatly appreciated.</p></span>
<h2>THE COURSES</h2>
<span><strong>When does my course start and/or finish?</strong>
</p><span>You can find the start date and course duration for each course on its course description page. If you are registered for a course, you’ll also see its start date on your dashboard. A course may start at any time throughout the day on its start date. If you find your course is not immediately available, please check back later in the day. Course timing is flexible. You do not need to log in exactly when the course begins.</p></span>
<span><strong>How do I log in to take an e-huesped course?</strong></span>
<p><span>Once you sign up for a course and activate your account, click on the Log In button on the e-huesped.org home page and type in your email address and e-huesped password. This will take you to your dashboard, with access to each of your active courses. (Before a course begins, it will be listed on your dashboard but will not yet have a “view course” option.)</p></span>
<span><strong>What should I do before I take a course (prerequisites)?</strong></span>
</p><span>Each course is different - some have prerequisites, and some don't. Take a look at your specific course’s recommended prerequisites on the course description page. </p></span>
<span><strong>Can I take more than one course at a time?</strong></span>
<p><span>Yes! You may take multiple e-huesped courses. We recommend checking the requirements on each course description page to balance your available study hours and the demands of the intended courses.</p></span>
<span><strong>What if I have a question or concern regarding course grading?</strong></span>
<p><span>All questions regarding grading and course content are best addressed in your course discussion forum. It is there that course staff can directly read and respond to your query.
Note: Most e-huesped courses post their grading policy in the course syllabus. Both the syllabus and the discussion forum are available once your class has begun.</p></span>
<span><strong>How can I talk to professors, fellows and teaching assistants?</strong></span>
<p><span>The discussion forum is the best place to reach out to the e-huesped teaching team for your class; just post your questions. We do our best to respond as promptly as possible.</p></span>
<span><strong>Can I re-take a course?</strong></span>
<p><span>Yes! You may re-take e-huesped courses as often as you wish and you will have the opportunity to earn a certificate each time. Each offering of a course is assessed independently.</p></span>
<h2>OTHER HELP QUESTIONS - ACCOUNT QUESTIONS</h2>
<span><strong>What if my username is taken?</strong>
<p><span>Please try a different username - for example, try adding a random number to the end.</p></span>
<span><strong>What if I am having login problems (password/email unrecognized)?</strong></span>
<p><span>Please make sure that you have a current version of Firefox, Chrome, or Internet Explorer with cookies and JavaScript enabled. Also, try clearing your browser’s cache.</p></span>
<span><strong>What if I forget my password?</strong></span>
<p><span>You’ll find a “Forgot password?” link under the Password field on the Login screen. Click this link and enter your email address. We’ll send a message that will allow you to reset your password.</p></span>
<span><strong>What if I did not receive an activation email or password reset?</strong></span>
<p><span>If you did not receive an automated email it may be because:
There was a typo in your email address.
Your spam filter may have caught the email. Please check your spam folder.
You may be using an older browser. We recommend downloading the current version of Firefox or Chrome.
JavaScript is disabled in your browser. Please check your browser settings and confirm that JavaScript is enabled.
You have not successfully registered an account on e-huesped.org. Please try registering again with the same email address. (If an account already exists, you'll see an error regarding a duplicate email address.)
If you continue to have problems activating your account, we recommend that you try creating a new account. There is no need to do anything about the old account. If it is not activated through the link in the email, it will disappear later.</p></span>
<span><strong>Can I delete my account?</strong></span>
<p><span>here's no need to delete your account. An old, unused e-huesped account with no course completions associated with it will disappear.</p>
<span><strong>What if I have problems with the display (e.g., there are tools missing from the course display, or I am unable to view video)?</strong>
<p><span>Please check your browser and settings - JavaScript must be enabled. We recommend downloading and using the current version of either Firefox or Chrome.</p>
<span><strong>What if my question isn’t answered here?</strong></span>
<p><span>Please contact us! We’ll do our best to help.</p></span>
<hr class="fade-right-hr-divider">

<!-------------------------- ESPANOL ---------------------------------->
  <a id="ESP"></a>
  <h2 class="faqtitle">FAQ (Español)</h2>
  <h3>Nuestra meta es proveer herramientas de auto-resolución de problemas que resuelvan las dificultades más comunes. ¿Luego de leer esto todavía tienes dudas? Por favor envía tu consulta a info@e-huesped.org o si eres estudiante actualmente de un curso posteala en el foro de discusión del curso.</h3>
  <h3 class="faqsubtitle">Aspectos básicos de e-huesped</h3>
  
<ul class="faq">
<li class="pregunta">¿Quién puede tomar un curso en e-huesped? ¿Cómo me registro?</li>
<li class="respuesta">Los cursos de e-huesped son abiertos a cualquier interesado *.  Lo único que necesitas es una computadora con un navegador actualizado, conexión a internet y por supuesto ganas de aprender. Para registrarte, deberás crear una cuenta de usuario y luego matricularte en el curso de tu interés. Para comenzar ahora ve a (link) registrarse. Es totalmente gratuito! *Exepto algunos cursos para profesionales que pueden estar restringidos a personas con matrícula profesional habilitante.</li>
<li class="pregunta">Quien 2.....?</li>
<li class="respuesta">ellos 2.....?</li>
</ul>

<span><strong>Who can take an e-huesped course? How do I sign up ?</strong></span>
<p>e-huesped courses are open to everyone*. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn.
To sign up, create an edX account and then register for the course of your choice. Choose <a href="http://e-huesped.org/register">Register Now</a> to get started. Unless you choose a verified certificate, registration is free!<br>
*Except Professional Courses</p></span>
<span><strong>What browsers are supported for use with e-huesped courses?</strong></span>
<p><span>Our courseware works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</p></span>
<span><strong>What if I have technical trouble with registration, login, or course access?</strong></span>
<p><span>Many problems with registration, login, or access to e-huesped courses are caused by browser issues. Here are some things to try:
- Switch to a current version of Chrome or Firefox
- Check your browser settings to ensure both JavaScript and cookies are enabled
- Clear your browser's cache</p></span>
<span><strong>What does it cost to take a course?</strong></span>
<p><span>With the exception of specified professional education courses, e-huesped courses are free for everyone. Some courses have a fee for verified certificates but are free to audit.</p></span>
<span><strong>Do e-huesped courses have transcripts?</strong></span>
<p><span>Yes. e-huesped course videos have interactive transcripts, which can be accessed by clicking the Closed Captions (cc) tab in the lower right corner of the video player.  Transcripts will appear to the right of the screen.</p></span>
<span><strong>Can I access e-huesped courses on my smart phone or tablet computer?</strong></span>
<p><span>At this time, e-huesped does not fully support access with mobile devices. While many components of your courses will function, some may not.</p></span>
<span><strong>What happens if I have to quit a course? Will I be able to take the same or another course in the future?</strong></span>
<p><span>You may unregister from an e-huesped course at anytime. There are absolutely no academic penalties associated with incomplete e-huesped studies. You may register for the same course (provided we are still offering it) at a later time.
Note: If you registered and paid for a verified certificate, refunds are only available while verified registration is open your course. To request a refund, contact info@huesped.org and include your order number as well as the course you are dropping.</p></span>
<strong>What is the e-huesped <a href="http://e-huesped.com/tos">honor code </a>?</strong></span>
<p><span>You’ll find the e-huesped honor code <a href="http://e-huesped.com/tos">here</a>. Each course may also have specific agreements for student collaboration and discussion.</p></span>
<span><strong>I love e-huesped! How can I donate to the organization?</strong></span>
</p><span>Thank you! Please visit our <a href="https://www.huesped.org.ar/dona/vos">donate page </a>. Any contribution is greatly appreciated.</p></span>
<h2>THE COURSES</h2>
<span><strong>When does my course start and/or finish?</strong>
</p><span>You can find the start date and course duration for each course on its course description page. If you are registered for a course, you’ll also see its start date on your dashboard. A course may start at any time throughout the day on its start date. If you find your course is not immediately available, please check back later in the day. Course timing is flexible. You do not need to log in exactly when the course begins.</p></span>
<span><strong>How do I log in to take an e-huesped course?</strong></span>
<p><span>Once you sign up for a course and activate your account, click on the Log In button on the e-huesped.org home page and type in your email address and e-huesped password. This will take you to your dashboard, with access to each of your active courses. (Before a course begins, it will be listed on your dashboard but will not yet have a “view course” option.)</p></span>
<span><strong>What should I do before I take a course (prerequisites)?</strong></span>
</p><span>Each course is different - some have prerequisites, and some don't. Take a look at your specific course’s recommended prerequisites on the course description page. </p></span>
<span><strong>Can I take more than one course at a time?</strong></span>
<p><span>Yes! You may take multiple e-huesped courses. We recommend checking the requirements on each course description page to balance your available study hours and the demands of the intended courses.</p></span>
<span><strong>What if I have a question or concern regarding course grading?</strong></span>
<p><span>All questions regarding grading and course content are best addressed in your course discussion forum. It is there that course staff can directly read and respond to your query.
Note: Most e-huesped courses post their grading policy in the course syllabus. Both the syllabus and the discussion forum are available once your class has begun.</p></span>
<span><strong>How can I talk to professors, fellows and teaching assistants?</strong></span>
<p><span>The discussion forum is the best place to reach out to the e-huesped teaching team for your class; just post your questions. We do our best to respond as promptly as possible.</p></span>
<span><strong>Can I re-take a course?</strong></span>
<p><span>Yes! You may re-take e-huesped courses as often as you wish and you will have the opportunity to earn a certificate each time. Each offering of a course is assessed independently.</p></span>
<h2>OTHER HELP QUESTIONS - ACCOUNT QUESTIONS</h2>
<span><strong>What if my username is taken?</strong>
<p><span>Please try a different username - for example, try adding a random number to the end.</p></span>
<span><strong>What if I am having login problems (password/email unrecognized)?</strong></span>
<p><span>Please make sure that you have a current version of Firefox, Chrome, or Internet Explorer with cookies and JavaScript enabled. Also, try clearing your browser’s cache.</p></span>
<span><strong>What if I forget my password?</strong></span>
<p><span>You’ll find a “Forgot password?” link under the Password field on the Login screen. Click this link and enter your email address. We’ll send a message that will allow you to reset your password.</p></span>
<span><strong>What if I did not receive an activation email or password reset?</strong></span>
<p><span>If you did not receive an automated email it may be because:
There was a typo in your email address.
Your spam filter may have caught the email. Please check your spam folder.
You may be using an older browser. We recommend downloading the current version of Firefox or Chrome.
JavaScript is disabled in your browser. Please check your browser settings and confirm that JavaScript is enabled.
You have not successfully registered an account on e-huesped.org. Please try registering again with the same email address. (If an account already exists, you'll see an error regarding a duplicate email address.)
If you continue to have problems activating your account, we recommend that you try creating a new account. There is no need to do anything about the old account. If it is not activated through the link in the email, it will disappear later.</p></span>
<span><strong>Can I delete my account?</strong></span>
<p><span>here's no need to delete your account. An old, unused e-huesped account with no course completions associated with it will disappear.</p>
<span><strong>What if I have problems with the display (e.g., there are tools missing from the course display, or I am unable to view video)?</strong>
<p><span>Please check your browser and settings - JavaScript must be enabled. We recommend downloading and using the current version of either Firefox or Chrome.</p>
<span><strong>What if my question isn’t answered here?</strong></span>
<p><span>Please contact us! We’ll do our best to help.</p></span>
<hr class="fade-right-hr-divider">

<!-------------------------- PORTUGUES ---------------------------------->
  <a id="POR"></a>
  <h2>FAQ (Portugues)</h2>
  <h3>Our goal is to provide you great self-service tools that ensure your success. Still need help after reading these? Please send your question to info@e-huesped.org or, if you are a current student, post your question(s) in your course discussion forum.</h3>
  <h2>PORT e-huesped BASICS</h2>
<span><strong>Who can take an e-huesped course? How do I sign up ?</strong></span>
<p>e-huesped courses are open to everyone*. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn.
To sign up, create an e-huesped account and then register for the course of your choice. Choose <a href="http://e-huesped.org/register">Register Now</a> to get started. Unless you choose a verified certificate, registration is free!<br>
*Except Professional Courses</p></span>
<span><strong>What browsers are supported for use with e-huesped courses?</strong></span>
<p><span>Our courseware works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</p></span>
<span><strong>What if I have technical trouble with registration, login, or course access?</strong></span>
<p><span>Many problems with registration, login, or access to e-huesped courses are caused by browser issues. Here are some things to try:
- Switch to a current version of Chrome or Firefox
- Check your browser settings to ensure both JavaScript and cookies are enabled
- Clear your browser's cache</p></span>
<span><strong>What does it cost to take a course?</strong></span>
<p><span>With the exception of specified professional education courses, e-huesped courses are free for everyone. Some courses have a fee for verified certificates but are free to audit.</p></span>
<span><strong>Do e-huesped courses have transcripts?</strong></span>
<p><span>Yes. e-huesped course videos have interactive transcripts, which can be accessed by clicking the Closed Captions (cc) tab in the lower right corner of the video player.  Transcripts will appear to the right of the screen.</p></span>
<span><strong>Can I access e-huesped courses on my smart phone or tablet computer?</strong></span>
<p><span>At this time, e-huesped does not fully support access with mobile devices. While many components of your courses will function, some may not.</p></span>
<span><strong>What happens if I have to quit a course? Will I be able to take the same or another course in the future?</strong></span>
<p><span>You may unregister from an e-huesped course at anytime. There are absolutely no academic penalties associated with incomplete e-huesped studies. You may register for the same course (provided we are still offering it) at a later time.
Note: If you registered and paid for a verified certificate, refunds are only available while verified registration is open your course. To request a refund, contact info@huesped.org and include your order number as well as the course you are dropping.</p></span>
<strong>What is the e-huesped <a href="http://e-huesped.com/tos">honor code </a>?</strong></span>
<p><span>You’ll find the e-huesped honor code <a href="http://e-huesped.com/tos">here</a>. Each course may also have specific agreements for student collaboration and discussion.</p></span>
<span><strong>I love e-huesped! How can I donate to the organization?</strong></span>
</p><span>Thank you! Please visit our <a href="https://www.huesped.org.ar/dona/vos">donate page </a>. Any contribution is greatly appreciated.</p></span>
<h2>THE COURSES</h2>
<span><strong>When does my course start and/or finish?</strong>
</p><span>You can find the start date and course duration for each course on its course description page. If you are registered for a course, you’ll also see its start date on your dashboard. A course may start at any time throughout the day on its start date. If you find your course is not immediately available, please check back later in the day. Course timing is flexible. You do not need to log in exactly when the course begins.</p></span>
<span><strong>How do I log in to take an e-huesped course?</strong></span>
<p><span>Once you sign up for a course and activate your account, click on the Log In button on the e-huesped.org home page and type in your email address and e-huesped password. This will take you to your dashboard, with access to each of your active courses. (Before a course begins, it will be listed on your dashboard but will not yet have a “view course” option.)</p></span>
<span><strong>What should I do before I take a course (prerequisites)?</strong></span>
</p><span>Each course is different - some have prerequisites, and some don't. Take a look at your specific course’s recommended prerequisites on the course description page. </p></span>
<span><strong>Can I take more than one course at a time?</strong></span>
<p><span>Yes! You may take multiple e-huesped courses. We recommend checking the requirements on each course description page to balance your available study hours and the demands of the intended courses.</p></span>
<span><strong>What if I have a question or concern regarding course grading?</strong></span>
<p><span>All questions regarding grading and course content are best addressed in your course discussion forum. It is there that course staff can directly read and respond to your query.
Note: Most e-huesped courses post their grading policy in the course syllabus. Both the syllabus and the discussion forum are available once your class has begun.</p></span>
<span><strong>How can I talk to professors, fellows and teaching assistants?</strong></span>
<p><span>The discussion forum is the best place to reach out to the e-huesped teaching team for your class; just post your questions. We do our best to respond as promptly as possible.</p></span>
<span><strong>Can I re-take a course?</strong></span>
<p><span>Yes! You may re-take e-huesped courses as often as you wish and you will have the opportunity to earn a certificate each time. Each offering of a course is assessed independently.</p></span>
<h2>OTHER HELP QUESTIONS - ACCOUNT QUESTIONS</h2>
<span><strong>What if my username is taken?</strong>
<p><span>Please try a different username - for example, try adding a random number to the end.</p></span>
<span><strong>What if I am having login problems (password/email unrecognized)?</strong></span>
<p><span>Please make sure that you have a current version of Firefox, Chrome, or Internet Explorer with cookies and JavaScript enabled. Also, try clearing your browser’s cache.</p></span>
<span><strong>What if I forget my password?</strong></span>
<p><span>You’ll find a “Forgot password?” link under the Password field on the Login screen. Click this link and enter your email address. We’ll send a message that will allow you to reset your password.</p></span>
<span><strong>What if I did not receive an activation email or password reset?</strong></span>
<p><span>If you did not receive an automated email it may be because:
There was a typo in your email address.
Your spam filter may have caught the email. Please check your spam folder.
You may be using an older browser. We recommend downloading the current version of Firefox or Chrome.
JavaScript is disabled in your browser. Please check your browser settings and confirm that JavaScript is enabled.
You have not successfully registered an account on e-huesped.org. Please try registering again with the same email address. (If an account already exists, you'll see an error regarding a duplicate email address.)
If you continue to have problems activating your account, we recommend that you try creating a new account. There is no need to do anything about the old account. If it is not activated through the link in the email, it will disappear later.</p></span>
<span><strong>Can I delete my account?</strong></span>
<p><span>here's no need to delete your account. An old, unused e-huesped account with no course completions associated with it will disappear.</p>
<span><strong>What if I have problems with the display (e.g., there are tools missing from the course display, or I am unable to view video)?</strong>
<p><span>Please check your browser and settings - JavaScript must be enabled. We recommend downloading and using the current version of either Firefox or Chrome.</p>
<span><strong>What if my question isn’t answered here?</strong></span>
<p><span>Please contact us! We’ll do our best to help.</p></span>

</section>


