<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>Contact us</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Contact</a>
  </nav>

<p>Para consultas o información por favor escribinos a soporte@e-huesped.org</p>

<p>For questions and further information please contact soporte@e-huesped.org</p>

<p>Para dúvidas e mais informações contacte soporte@e-huesped.org</p>

  
  
</section>
