<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>FAQ</title></%block>

<section class="container about" style="width: auto;">
  
  <ul class="faqlanguage">
  <a href="#ENG">English</a>
  <a href="#ESP">Español</a>
  <a href="#POR">Portuguese</a>
  </ul>
  <br><br>
      <!-------------------------- ENGLISH ---------------------------------->
  <a id="ENG"></a>
  <h2 class="faqtitle">Frequently Asked Questions</h2>
  <h3>Our goal is to provide you great self-service tools that ensure your success. Still need help after reading these? Please send your question to info@e-huesped.org or, if you are a current student, post your question(s) in your course discussion forum.</h3>

  <ul class="faq">
<h3 class="faqsubtitle">E-HUESPED BASICS</h3>
<li class="pregunta">Who can take an e-huesped course? How do I sign up ?</li>
<li class="respuesta">e-huesped courses are open to everyone*. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn.To sign up, create an e-huesped  account and then register for the course of your choice. Choose <a href="http://e-huesped.org/register">Register Now</a> to get started. Unless you choose a verified certificate, registration is free! *Except Professional Courses</li>

<li class="pregunta">What browsers are supported for use with e-huesped courses?</li>
<li class="respuesta">Our courseware works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</li>

<li class="pregunta">What if I have technical trouble with registration, login, or course access?</li>
<li class="respuesta">Many problems with registration, login, or access to e-huesped courses are caused by browser issues. Here are some things to try:
- Switch to a current version of Chrome or Firefox
- Check your browser settings to ensure both JavaScript and cookies are enabled
- Clear your browser's cache</p></span></li>

<li class="pregunta">What does it cost to take a course?</li>
<li class="respuesta">With the exception of specified professional education courses, e-huesped courses are free for everyone. Some courses have a fee for verified certificates but are free to audit.</li>

<li class="pregunta">Do e-huesped courses have transcripts?</li>
<li class="respuesta">Yes. e-huesped course videos have interactive transcripts, which can be accessed by clicking the Closed Captions (cc) tab in the lower right corner of the video player.  Transcripts will appear to the right of the screen.</li>

<li class="pregunta">Can I access e-huesped courses on my smart phone or tablet computer?</li>
<li class="respuesta">At this time, e-huesped does not fully support access with mobile devices. While many components of your courses will function, some may not.</li>

<li class="pregunta">What happens if I have to quit a course? Will I be able to take the same or another course in the future?</li>
<li class="respuesta">You may unregister from an e-huesped course at anytime. There are absolutely no academic penalties associated with incomplete e-huesped studies. You may register for the same course (provided we are still offering it) at a later time.
Note: If you registered and paid for a verified certificate, refunds are only available while verified registration is open your course. To request a refund, contact info@huesped.org and include your order number as well as the course you are dropping.</li>

<li class="pregunta">What is the e-huesped <a href="http://e-huesped.com/tos">honor code </a>?</li>
<li class="respuesta">You’ll find the e-huesped honor code <a href="http://e-huesped.com/tos">here</a>. Each course may also have specific agreements for student collaboration and discussion.</li>

<li class="pregunta">I love e-huesped! How can I donate to the organization?</li>
<li class="respuesta">Thank you! Please visit our <a href="https://www.huesped.org.ar/dona/vos">donate page </a>. Any contribution is greatly appreciated.</li>

<h3 class="faqsubtitle">THE COURSES</h3>
<li class="pregunta">When does my course start and/or finish?</li>
<li class="respuesta">You can find the start date and course duration for each course on its course description page. If you are registered for a course, you’ll also see its start date on your dashboard. A course may start at any time throughout the day on its start date. If you find your course is not immediately available, please check back later in the day. Course timing is flexible. You do not need to log in exactly when the course begins.</li>

<li class="pregunta">How do I log in to take an e-huesped course?</li>
<li class="respuesta">Once you sign up for a course and activate your account, click on the Log In button on the e-huesped.org home page and type in your email address and e-huesped password. This will take you to your dashboard, with access to each of your active courses. (Before a course begins, it will be listed on your dashboard but will not yet have a “view course” option.)</li>

<li class="pregunta">What should I do before I take a course (prerequisites)?</li>
<li class="respuesta">Each course is different - some have prerequisites, and some dont. Take a look at your specific course’s recommended prerequisites on the course description page. </li>

<li class="pregunta">Can I take more than one course at a time?</li>
<li class="respuesta">Yes! You may take multiple e-huesped courses. We recommend checking the requirements on each course description page to balance your available study hours and the demands of the intended courses.</li>

<li class="pregunta">What if I have a question or concern regarding course grading?</li>
<li class="respuesta">All questions regarding grading and course content are best addressed in your course discussion forum. It is there that course staff can directly read and respond to your query.
Note: Most e-huesped courses post their grading policy in the course syllabus. Both the syllabus and the discussion forum are available once your class has begun.</li>

<li class="pregunta">How can I talk to professors, fellows and teaching assistants?</li>
<li class="respuesta">The discussion forum is the best place to reach out to the e-huesped teaching team for your class; just post your questions. We do our best to respond as promptly as possible.</li>

<li class="pregunta">Can I re-take a course?</li>
<li class="respuesta">Yes! You may re-take e-huesped courses as often as you wish and you will have the opportunity to earn a certificate each time. Each offering of a course is assessed independently.</li>

<h3 class="faqsubtitle">OTHER HELP QUESTIONS - ACCOUNT QUESTIONS</h3>
<li class="pregunta">What if my username is taken?</li>
<li class="respuesta">Please try a different username - for example, try adding a random number to the end.</li>

<li class="pregunta">What if I am having login problems (password/email unrecognized)?</li>
<li class="respuesta">Please make sure that you have a current version of Firefox, Chrome, or Internet Explorer with cookies and JavaScript enabled. Also, try clearing your browser’s cache.</li>

<li class="pregunta">What if I forget my password?</li>
<li class="respuesta">You’ll find a “Forgot password?” link under the Password field on the Login screen. Click this link and enter your email address. We’ll send a message that will allow you to reset your password.</li>

<li class="pregunta">What if I did not receive an activation email or password reset?</li>
<li class="respuesta">If you did not receive an automated email it may be because:
-There was a typo in your email address.
-Your spam filter may have caught the email. Please check your spam folder.
-You may be using an older browser. We recommend downloading the current version of Firefox or Chrome.
-JavaScript is disabled in your browser. Please check your browser settings and confirm that JavaScript is enabled.
-You have not successfully registered an account on e-huesped.org. Please try registering again with the same email address. (If an account already exists, you'll see an error regarding a duplicate email address.)
If you continue to have problems activating your account, we recommend that you try creating a new account. There is no need to do anything about the old account. If it is not activated through the link in the email, it will disappear later.</li>

<li class="pregunta">Can I delete my account?</li>
<li class="respuesta">There's no need to delete your account. An old, unused e-huesped account with no course completions associated with it will disappear.</li>

<li class="pregunta">What if I have problems with the display (e.g., there are tools missing from the course display, or I am unable to view video)?</li>
<li class="respuesta">Please check your browser and settings - JavaScript must be enabled. We recommend downloading and using the current version of either Firefox or Chrome.</li>

<li class="pregunta">What if my question isn’t answered here?</li>
<li class="respuesta">Please contact us! We’ll do our best to help.</li>
</ul>
<hr class="fade-right-hr-divider">

<!-------------------------- ESPANOL ---------------------------------->
  <a id="ESP"></a>
  <h2 class="faqtitle">Preguntas Frecuentes</h2>
  <h3>Nuestra meta es proveer herramientas de auto-resolución de problemas que resuelvan las dificultades más comunes. ¿Luego de leer esto todavía tienes dudas? Por favor envía tu consulta a info@e-huesped.org o si eres estudiante actualmente de un curso posteala en el foro de discusión del curso.</h3>

  <ul class="faq">
  <h3 class="faqsubtitle">ASPECTOS BASICOS DE E-HUESPED</h3>
  <li class="pregunta">¿Quién puede tomar un curso en e-huesped? ¿Cómo me registro?</li>
<li class="respuesta">Los cursos de e-huesped son abiertos a cualquier interesado *.  Lo único que necesitas es una computadora con un navegador actualizado, conexión a internet y por supuesto ganas de aprender. Para registrarte, deberás crear una cuenta de usuario y luego matricularte en el curso de tu interés. Para comenzar ahora ve a (link) registrarse. Es totalmente gratuito! *Exepto algunos cursos para profesionales que pueden estar restringidos a personas con matrícula profesional habilitante.</li>

<li class="pregunta">¿Qué navegadores son adecuados para realizar los cursos de e-huesped?</li>
<li class="respuesta">Nuestra plataforma funciona mejor con versiones actualizadas de Chrome, Firefox o Safari o con versiones de Internet Explorer 9 o superiores.</li>
<li class="pregunta">¿Qué debo hacer si tengo problemas técnicos durante la registración, el inicio de sesión o el acceso a un curso?
Muchas dificultades de registro, inicio de sesión o acceso a los cursos son causados por cuestiones vinculadas al navegador. Algunas soluciones que pueden intentar son:
- Cambiar a una versión actualizada de Core o Firefox.
- Revisar la configuración de tu navegador para asegurarte de que JavaScript y el uso de cookies esté habilitado.
- Limpiar la memoria caché de tu navegador. </li>

<li class="pregunta">¿Cuánto cuesta tomar un curso?</li>
<li class="respuesta">Nada! Los cursos son gratuitos para todos.</li>

<li class="pregunta">¿Los videos de los cursos tienen transcripciones?</li>
<li class="respuesta">Si. Los videos de e-huesped tienen transcripciones interactivas a las que puede acceder mediante la opción de “closed captions” (CC) en la esquina inferior derecha del reproductor de video. Las transcrpciones aparecerán a la derecha de la pantalla. Es posible que durante los primeros meses de lanzamiento de un curso una o varias clases no tengan transcripción, ya que es un proceso que se realiza sobre el final de la producción.</li>

<li class="pregunta">¿Puedo acceder a los cursos de e-huesped desde mi teléfono celular o Tablet?</li>
<li class="respuesta">Por el momento la plataforma de e-huesped no soporta totalmente el acceso desde celulares. Muchos de los componentes funcionarán pero algunos podrían no hacerlo.</li>

<li class="pregunta">¿Qué ocurre si quiero abandonar un curso? ¿Podré matricularme nuevamente en el mismo curso o en otro curso en el futuro?</li>
<li class="respuesta">Puedes darte de baja de un curso de e-huesped cuando desees. No existen penalidades académicas para cursos incompletos o abandonados. Podrás registrarte en el mismo curso, si continúa disponible, posteriormente. </li>

<li class="pregunta">¿Qué es el código de honor (link) de e-huesped?</li>
<li class="respuesta">Encontrarás nuestro código de honor aquí(LINK). Cada curso puede además tener acuerdos particulares sobre la colaboración entre estudiantes y la discusión.</li>

<li class="pregunta">Amo e-huesped! ¿Cómo puedo donar a la organización?</li>
<li class="respuesta">Gracias! Por favor visita nuestra página web de donaciones. Cualquier contribución será muy agradecida.</li>

<h3 class="faqsubtitle">LOS CURSOS</h3>

<li class="pregunta">¿Cuándo empieza y/o termina mi curso?</li>
<li class="respuesta">Encontrarás la fecha de inicio y la duración de cada curso en su página de descripción. Si ya te has matriculado en el curso puedes encontrar esta misma información en tu panel de control.  Un curso puede iniciar a cualquier hora del día señalado como fecha de inicio. Si encuentras que el curso no está disponible de inmediato por favor vuelve a ingresar más tarde, ese mismo día. Las agendas de los cursos son flexibles, no es necesario que ingreses exactamente en el momento en que comienza. </li>

<li class="pregunta">¿Cómo inicio sesión para comenzar un curso?</li>
<li class="respuesta">Una vez que te has matriculado en un curso y tu cuenta está activada; y en las sucesivas veces que accedas al curso, cliquéa en “iniciar sesión” (link) en la página de inicio de e-huesped e ingresa tu dirección de correo electrónico y tu contraseña de e-huesped. Esto te llevará a tu panel de control, desde el que tendrás acceso a todos tus cursos. Si el curso aún no comenzó lo verás en el panel de control pero no tendrá todavía la opción de “ir al curso”.</li>

<li class="pregunta">¿Qué debo hacer antes de tomar un curso de e-huesped (pre-requisitos)?</li>
<li class="respuesta">Cada curso es distinto, algunos tendrán pre-requisitos y otros no. Examina detenidamente los pre-requisitos que se detallan en la página de descripción del curso antes de matricularte.</li>

<li class="pregunta">¿Puedo realizar más de un curso a la vez?</li>
<li class="respuesta">Si! Puedes hacer varios cursos. Recomendamos que previamente analices los requerimientos de cada curso para evaluar si tus horas de estudio disponibles serán suficientes para lo que cada curso demanda.</li>

<li class="pregunta">¿Qué sucede si tengo dudas sobre las calificaciones de un curso?</li>
L<li class="respuesta">as preguntas sobre la avaluación y calificaciones de un curso serán mejor respondidas en los foros de discusión del curso. Allí los docentes podrán responderlas adecuadamente. La mayoría de los cursos detallan sus sistemas de evaluación y calificación en el programa del curso. Tanto el programa como los foros estarán disponibles una vez comenzado el curso.</li>

<li class="pregunta">¿Cómo puedo contactar a los docentes del curso?</li>
<li class="respuesta">Los foros de discusión son el mejor espacio contactar a los docentes y compañeros, lo único que debes hacer es postear tus preguntas y comentarios. Haremos nuestro mejor intento para responderlas lo antes posible.</li>

<li class="pregunta">¿Puedo volver a realizar un curso?</li>
<li class="respuesta">Si! Puedes volver a realizarlo cuantas veces quieras y obtendrás tu certificado en cada una de ellas. Cada curso es interpretado como un curso independiente. 

<h3 class="faqsubtitle">PREGUNTAS SOBRE LAS CUENTAS DE E-HUESPED Y OTROS ASUNTOS</h3>

<li class="pregunta">¿Qué ocurre si mi nombre de usuario ya ha sido elegido?</li>
<li class="respuesta">Por favor intenta con otro nombre de usuario, una buena idea es agregar un úmero al final.</li>

<li class="pregunta">¿Qué sucede si tengo problemas para iniciar sesión?</li>
<li class="respuesta">Por favor asegúrate de tener una versión actualizada de Firefox, Chrome o Internet Explorer con cookies y JavaScript habilitados. También puedes intentar limpiar la memoria chaché.</li>

<li class="pregunta">¿Qué hago si olvido mi contraseña de e-huesped?</li>
<li class="respuesta">Encontrarás un link de “Olvidé mi contraseña” debajo del campo de contraseña en la pantalla de inicio de sesión. Cliquea este link e ingresa tu dirección de correo electrónico. Te enviaremos un correo que te permitirá reestablecer tu contraseña.</li>

<li class="pregunta">¿Qué ocurre si no recibo el correo para reestablecer mi contraseña?</li>
<li class="respuesta">Si no recibes un correo automático puede deberse a los siguientes motivos:
Tu dirección de correo tenía algún error de tipeo, por favor ingrésalo nuevamente
Tu filtro de correo no deseado bloqueó el correo, busca en la carpeta de correo no deseado.
Puedes estar utilizando una versión desactualizada de navegador, recomendamos descargar las versiones actualizadas de Firefox o Crome.
JavaScript está deshabilitado en tu navegador, chequea en la configuración del navegador y habilítalo.
No te has registrado satisfactoriamente en e-huesped, intenta volver a registrarte con la misma cuenta de correo electrónico. Si la cuenta ya existe verás un error sobre cuenta de correo existente. Si el problema continua recomendamos que vuelvas a crear una cuenta con otra casilla de correo. No hay necesidad de hacer nada sobre la cuenta anterior, si no ha sido activada a través del link de correo desaparecerá posteriormente.</li>

<li class="pregunta">¿Puedo borrar mi cuenta?</li>
<li class="respuesta">No es necesario, una cuenta antigua, sin uso y sin realización de cursos desaparecerá posteriormente.</li>

<li class="pregunta">¿Qué ocurre si tengo problemas para visualizar todo o partes de la plataforma?</li>
<li class="respuesta">Por favor revisa la configuración y versión de tu navegador. JavaScript debe estar habilitado. Recomendamos descargar la versión actualizada de Firefox o Chrome.</li>

<li class="pregunta">¿Qué hago si mi duda no a sido respondida en este apartado?</li>
<li class="respuesta">Contáctanos! Haremos un esfuerzo por ayudarte.</li>


</ul>
<hr class="fade-right-hr-divider">

<!-------------------------- PORTUGUES ---------------------------------->
  <a id="POR"></a>
   
   <h2 class="faqtitle">Preguntas Frequentes</h2>
  <h3>Nosso objetivo é fornecer ferramentas de auto-resolução de problemas para resolver as dificuldades mais comuns. Depois de ler isto, você ainda tem dúvidas? Por favor, envie sua pergunta a info@e-huesped.org ou se você é um estudante atualmente de um curso posta no fórum de discussão do curso.</h3>

  <ul class="faq">
  <h3 class="faqsubtitle">ASPECTOS BASICOS DO E-HUESPED</h3>
  <li class="pregunta">¿Quem pode fazer um curso no e-huesped? Como me cadastro?</li>
<li class="respuesta">Os cursos do e-huesped estão abertos a qualquer interessado *.  Tudo que você precisa é um computador com um navegador atualizado, conexão de internet e, claro, vontade de aprender. Para se cadastrar, você precisa criar uma conta de usuário e depois inscrever-se no curso de seu interesse. Para começar agora, vá para (link) Cadastre-se. É totalmente gratuito! *Com exceção de alguns cursos para profissionais que podem ser restritos a pessoas com qualificação profissional habilitante.</li>

<li class="pregunta">Quais navegadores são adequados para realizar os cursos do e-huesped?</li>
<li class="respuesta">Nossa plataforma funciona melhor com versões atualizadas de Chrome, Firefox, Safari ou com versões de Internet Explorer 9 ou superiores.
Que devo fazer se eu tiver problemas técnicos durante o cadastro, início de sessão ou o acesso a um curso?
Muitas dificuldades de cadastro, início de sessão ou acesso aos cursos são causadas por problemas relacionados com o navegador. Algumas soluções que você pode tentar são:
•	Mudar para uma versão atualizada de Core ou Firefox.
•	Verificar as configurações do seu navegador para assegurar-se de que JavaScript e o uso de cookies esteja habilitado.
•	Limpar o cache do seu navegador. </li>

<li class="pregunta">Quanto custa fazer um curso?</li>
<li class="respuesta">Nada! Os cursos são gratuitos para todos.</li>

<li class="pregunta">Os vídeos dos cursos têm transcrições?</li>
<li class="respuesta">Sim. Os vídeos de e-huesped têm transcrições interativas que podem ser acessadas através da opção “closed captions” (CC) no canto inferior direito do reprodutor de vídeo. As transcrições vão aparecer à direita da tela. É possível que durante os primeiros meses de lançamento de um curso uma ou mais aulas não têm transcrição, pois é um processo que é realizado no fim da produção.</li>

<li class="pregunta">Posso acessar aos cursos do e-huesped desde o meu telefone celular ou Tablet?</li>
<li class="respuesta">Até o momento a plataforma de e-huesped não suporta totalmente o acesso desde um telefone celular. Muitos dos componentes vão funcionar, mas alguns poderiam não funcionar.</li>

<li class="pregunta">Que acontece se eu quero deixar um curso? Eu posso me reinscrever no mesmo curso ou em outro curso no futuro?</li>
<li class="respuesta">Você pode se desinscrever de um curso do e-huesped quando você quiser. Não há penalidades acadêmicas para cursos incompletos ou abandonados. Você pode se inscrever para o mesmo curso, se ainda estiver disponível, posteriormente. </li>

<li class="pregunta">O que é o Código de honra (link) do e-huesped?</li>
<li class="respuesta">Você vai encontrar o nosso código de honra aqui (LINK). Cada curso pode também ter acordos especiais sobre a cooperação entre estudantes e a discussão.</li>

<li class="pregunta">Amo e-huesped! Como posso doar à organização?</li>
<li class="respuesta">Obrigado! Por favor, visite nosso site para doações. Qualquer contribuição será muito apreciada.</li>

<h3 class="faqsubtitle">OS CURSOS</h3>

<li class="pregunta">Quando começa e/ou termina o meu curso?</li>
<li class="respuesta">Você vai encontrar a data de início e a duração de cada curso em sua página de descrição. Se você já tiver inscrito no curso, você pode encontrar essa informação em seu painel de controle.  Um curso pode começar em qualquer hora do dia definido como a data de início. Se você achar que o curso não está disponível imediatamente por favor volte a entrar mais tarde, no mesmo dia. As agendas dos cursos são flexíveis, não é necessário que você entre exatamente no momento em que começa o curso. </li>

<li class="pregunta">Como faço login para começar um curso?</li>
<li class="respuesta">Assim que estiver registrado em um curso e sua conta seja ativada; e nas sucessivas vezes que você acessar o curso, faz clique em “iniciar sessão” (link) na página inicial do e-huesped e digite seu endereço de e-mail e sua senha do e-huesped. Isto irá levá-lo para seu painel de controle, onde você terá acesso a todos os seus cursos. Se o curso ainda não começou, você o verá no painel de controle mas ainda não terá a opção de “ir ao curso”.</li>

<li class="pregunta">Que devo fazer antes de tomar um curso de e-huesped (pré-requisitos)?</li>
<li class="respuesta">Cada curso é diferente, alguns terão pré-requisitos e outros não. Examine cuidadosamente os pré-requisitos detalhados na página de descrição do curso antes de se matricular.</li>

<li class="pregunta">Posso fazer mais de um curso por vez?</li>
<li class="respuesta">Sim! Você pode fazer vários cursos. Recomendamos analisar previamente os requisitos de cada curso para avaliar se o seu tempo de estudo disponível será suficiente para o que é exigido em cada curso.</li>

<li class="pregunta">Que acontece se eu tiver dúvidas sobre as qualificações de um curso?</li>
<li class="respuesta">Perguntas sobre a avaliação e qualificações do curso serão melhor respondidas nos fóruns de discussão do curso. Ali os professores poderam responder adequadamente. A maioria dos cursos detalham seus sistemas de avaliação e qualificação no programa do curso. Tanto o programa e os fóruns estarão disponíveis uma vez iniciado o curso.</li>

<li class="pregunta">Como posso contatar aos professores do curso?</li>
<li class="respuesta">Os forúns de discussão são o melhor espaço para contatar aos professores e colegas, tudo que você tem que fazer é postar suas perguntas e comentários. Faremos nosso melhor esforço para responder o mais rápido possível.</li>

<li class="pregunta">Posso voltar a realizar um curso?</li>
<li class="respuesta">Sim! Você pode voltar quantas vezes quiser e você vai obter um certificado todas as vezes. Cada curso é interpretado como um curso independente. </li>

<h3 class="faqsubtitle">PREGUUNTAS SOBRE A CONTA DE E-HUESPED E OUTROS ASSUNTOS</h3>

<li class="pregunta">Que acontece se meu nome de usuário já foi escolhido?</li>
<li class="respuesta">Por favor, tente outro nome de usuário, uma boa idéia é adicionar um número ao final.</li>

<li class="pregunta">Que acontece se eu tiver problemas para iniciar sessão?</li>
<li class="respuesta">Por favor, verifique se você tem uma versão atualizada de Firefox, Chrome ou Internet Explorer com cookies e JavaScript habilitados. Você também pode tentar limpar a memória cache.</li>

<li class="pregunta">Que faço se eu esquecer minha senha de e-huesped?</li>
<li class="respuesta">Você vai encontrar um link de “Esqueci minha senha” abaixo do campo de senha na tela de login. Faça clique neste link e digite seu endereço de e-mail. Vamos te enviar um e-mail para que você possa redefinir sua senha.</li>

<li class="pregunta">Que acontece se eu não receber o e-mail para redefinir minha senha?</li>
<li class="respuesta">Se você não receber um e-mail automático pode ser devido às seguintes razões:
Seu e-mail tinha um erro de digitação, por favor insira-o novamente
O seu filtro de spam bloqueou o e-mail, procure o e-mail na pasta de spam.
Você pode estar usando uma versão do navegador desatualizada, recomendamos baixar as versões atualizadas de Firefox ou Crome.
JavaScript está desabilitado no seu navegador, verifique nas configurações do navegador e habilitá-lo.
Você não se registrou com sucesso no e-huesped, tenta se cadastrar de novo com a mesma conta de e-mail. Se a conta existe, você verá um erro sobre conta de correio existente. Se o problema persistir, recomendamos que você se cadastre novamente com outro e-mail. Não há necessidade de fazer nada com a conta antiga, se não tiver sido ativada através do link de e-mail vai desaparecer posteriormente.</li>

<li class="pregunta">Posso apagar a minha conta?</li>
<li class="respuesta">Não é necessário, uma conta antiga, sem uso e sem a realização de cursos vai desaparecer posteriormente.</li>

<li class="pregunta">Que acontece se eu tiver problemas para visualizar a totalidade ou partes da plataforma?</li>
<li class="respuesta">Por favor, revise a configuração e versão do seu navegador. JavaScript debe estar habilitado. Recomendamos baixar as versões atualizadas de Firefox ou Crome.</li>

<li class="pregunta">Que fazo se a minha dúvida não foi respondida nesta seção?</li>
<li class="respuesta">Contate-nos! Faremos um esforço para te ajudar.</li>
</ul>

</section>


