<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>First steps</title></%block>

<section class="container about" style="width: auto;">
  
  <ul class="faqlanguage">
  <a href="#ENG">English</a>
  <a href="#ESP">Español</a>
  <a href="#POR">Portuguese</a>
  </ul>
  <br><br>
      <!-------------------------- ENGLISH ---------------------------------->
  <a id="ENG"></a>
  <h2 class="faqtitle">First steps</h2>

<!-------------------------- ESPANOL ---------------------------------->
  <a id="ESP"></a>
  <h2 class="faqtitle">Primeros pasos</h2>
  <h3>Primeros pasos para empezar a utilizar la plataforma E-Huésped​</h3>

<ol>
<li>Usted debe ingresar a http://www.e-huesped.org/ y dirigirse a "Registrarse"​ en la barra superior de navegación. </li>
<li>Allí​ se le mostrará un formulario ​que debe completar ​o, si así lo desea, puede ingresar con su cuenta de Facebook o Google. Recuerde que debe aceptar los términos de servicio para crear su cuenta. </li>
<li>Una vez que usted hizo click en "Crear mi cuenta", leerá la siguiente leyenda: "Gracias por Registrarte! Ha creado con éxito una cuenta en e-huesped.org. Hemos enviado un correo de activación a [su e-mail]. Para activar su cuenta y comenzar a inscribirse en los cursos, haga clic en el vínculo en el mensaje." </li>
​<li>Diríjase a su casilla de correo electrónico (la que ingresó al registrarse)​.</li>
​<li>Abra el correo que le llegó de support@e-huesped.org ​con el asunto: "Activar tu cuenta en e-huesped.org"</li>
<li>Lea el correo y haga click en el  link ​ de activación de cuenta.​</li>
<li>A continuación​ se abrirá nuevamente una pestaña en su navegador y usted leerá: "¡Activación Completada!  Gracias por activar su cuenta”. Ahora puede Iniciar sesión  ​Esto significa que su cuenta ha sido validada.​</li>
<li>Allí debe clickear en "Iniciar sesión"</li>
</ol>
  
</section>


