<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>FAQ</title></%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#" class="help">Frequently Asked Questions</a>
	<h3>Our goal is to provide you great self-service tools that ensure your success. Still need help after reading these? Please send your question to info@e-huesped.org or, if you are a current student, post your question(s) in your course discussion forum.</h3>
  </nav>
<!--
  <section class="vision">
    <section class="message left" id="help">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/circuit.jpg')}" alt="Circuit Traces" />
          
      </div>
      <article>
        <h2>Trouble accessing a course</h2> 
        <p><strong>If you are a Stanford student having trouble accessing ("Register for") a Stanford on-campus course:</strong></p>
        <p>
           - <a href="/logout">Log out</a> of your OpenEdx account.<br />
           - Navigate to the "About" page of your course.<br />
           - Click on the big "Register" button, and you should be able to register for your course.  You may be asked to authenticate with WebAuth first.
        </p>
        <h2>For general technical support</h2>
        <p><strong>Email us at:</strong><br />
        <a href="mailto:techsupport@class.stanford.edu">techsupport@class.stanford.edu</a></p>
      </article>
    </section>
  </section>
  -->
<h2>e-huesped BASICS</h2>
<strong>Who can take an e-huesped course? How do I sign up ?</strong>
<p>e-huesped courses are open to everyone*. All you need is access to a computer with a current browser, an Internet connection, and, of course, a desire to learn.
To sign up, create an edX account and then register for the course of your choice. Choose <a href="http://e-huesped.com/register">Register Now</a> to get started. Unless you choose a verified certificate, registration is free!</p>
</p>*Except Professional Courses</p>
<strong>What browsers are supported for use with e-huesped courses?</strong>
<p>Our courseware works best with current versions of Chrome, Firefox or Safari, or with Internet Explorer version 9 and above.</p>
</section>
