<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About E-Huesped</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else if ( document.location.href.indexOf('#careers') > -1 ) {
        $('section#careers').show();
        $('#about-menu a.careers').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active"></a>
    <a href="#faq" class="faq"></a>
    <a href="#careers" class="careers"></a>
    <a href="#contact" class="contact"></a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/quad-huesped.jpg')}" alt="E-Huesped" />
          <!-- Image Copyright owned by Giulio Gratta -->
      </div>
      <article>
        <h2>About <span class="edx">E-Huesped</span></h2>
        
        <p>e-huesped aims at communicating news about the progress made in the fields of HIV/aids, viral hepatitis and other transmissible diseases, in a swift and dynamic way using an online platform which allows the continuous collaboration and updating and information exchange with professionals throughout the world.</p>

<p>The platform is accessible at any time and from any place. It has the advantage that classes adapt to the student rather than the other way around.</p>

<p>The educational strategy is part of a global trend in education called MOOC (massive on-line open course) (MOOC, according to the acronym in English.</p>

  <p>It is implemented on the Edx platform developed by MIT and Harvard. That is why e-huesped.org is a pioneer in the medical field as well as in scientific research and technological development.</p>

<p>We trust that you will profit from the courses we will be producing so as to keep contributing to the permanent updating of professionals in the health team. I hope to see you in a class so, we welcome you in advance to this new training and collaboration space we have created.</p>

<p>E-huesped was developed by <a href="http://www.huesped.org.ar">Fundación Huésped</a> an Argentinean organization with projects that reach throughout Latin America responding to HIV/AIDS as both an infectious disease and a social challenge.</p>

<p>We work to improve information, education and prevention access; expand public support; facilitate research and continuing education of health professionals and increase availability of social and health services, including protection against discrimination.</p>
        </article>
      <hr class="fade-right-hr-divider">
    </section>

