## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
  from courseware.courses import course_image_url
  from django.utils.translation import ugettext as _ 
%>
<%namespace name='static' file='/static_content.html'/>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}"></a></li>
          <li><a href="${reverse('tos')}#privacy"></a></li>
          <li><a href="${reverse('tos')}#honor"></a></li>
          <li><a href="${reverse('tos')}#copyright"></a></li>
          <li><a href="${marketing_link('FAQ')}"></a></li>
        </ol>
      </nav>
    </div>
     %if course is not UNDEFINED:
       <div align='right' class='courselogo ${course.display_number_with_default | h}'></div>
     %endif
<!--
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
-->
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
		<div class="su-row">
			<div class="su-footer-developed">Developed by <a href="http://www.huesped.org.ar" target="_blank">Fundación Huésped</a>, an Argentinean organization working in the public health field with a human rights perspective focused on HIV/AIDS, STIs, as well as sexual and reproductive health, e&#8209;huesped is an educational platform that contributes to the permanent updating of professionals in the health team improving information, education and prevention access in the fields of HIV/AIDS, viral hepatitis and other transmissible diseases.<br><br>&copy; 2015 e&#8209;huesped. All rights reserved.</div>
			<div class="su-footer-about">
				<ul class="su-footer-list">
					<li><a href="/about">About e&#8209;Huesped</a></li>
					<li><a href="/faq">${_("FAQ")}</a></li>
					<li><a href="/">${_("Find Courses")}</a></li>
				</ul>
			</div>
			<div class="su-footer-tos">
					<ul class="su-footer-list">
					<li><a href="/tos">${_("Terms of Service")}</a></li>
					<li><a href="/privacy">${_("Privacy Policy")}</a></li>
					<li><a href="/help">${_("Help")}</a></li>
					<li><a href="/press">${_("Press")}</a></li>
					<li><a href="/contact">${_("Contact")}</a></li>
				</ul>
			</div>
			<div class="su-footer-logo">
				<a href="http://huesped.org.ar" target="_blank">
					<img src="${static.url('themes/stanford/images/footer_logo.png')}" alt="e-huesped">
				</a>
			</div>
		</div>

		<div class="su-row">
			<div class="su-footer-social-title">Connect with Fundación Huesped</div>
			<div class="su-footer-social-links">
				<ul class="su-footer-social-list">
					<li>
						<a href="http://www.facebook.com/FundHuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/facebook32.png')}" alt="Facebook">
						</a>
					</li>
					<li>
						<a href="http://www.twitter.com/FundHuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/twitter32.png')}" alt="Twitter">
						</a>
					</li>
					<li>
						<a href="https://plus.google.com/+FundHuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/googleplus32.png')}" alt="Google+">
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/embed/user/fhuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/youtube32.png')}" alt="YouTube">
						</a>
					</li>
					<li>
						<a href="http://instagram.com/fundhuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/instagram32.png')}" alt="Instagram">
						</a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/fundacion-huesped" target="_blank">
							<img src="${static.url('themes/stanford/images/linkedin32.png')}" alt="LinkedIn">
						</a>
					</li>
					<li>
						<a href="http://www.pinterest.com/fundhuesped/" target="_blank">
							<img src="${static.url('themes/stanford/images/pinterest32.png')}" alt="Pinterest">
						</a>
					</li>
					<li>
						<a href="https://foursquare.com/fundhuesped" target="_blank">
							<img src="${static.url('themes/stanford/images/foursquare32.png')}" alt="Foursquare">
						</a>
					</li>
				</ul>
				<div class="su-footer-poweredby">
					<a href="http://www.256ideas.com" target="_blank">Powered by 256ideas</a>
				</div>
			</div>
		</div>
  </div>
</div>
