## mako
<%! 
  from django.core.urlresolvers import reverse 
  from edxmako.shortcuts import marketing_link
  from courseware.courses import course_image_url
%>
<%namespace name='static' file='/static_content.html'/>

<div class="wrapper-footer">
  <footer>
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}"></a></li>
          <li><a href="${reverse('tos')}#privacy"></a></li>
          <li><a href="${reverse('tos')}#honor"></a></li>
          <li><a href="${reverse('tos')}#copyright"></a></li>
          <li><a href="${marketing_link('FAQ')}"></a></li>
        </ol>
      </nav>
    </div>
<!--
    <div class="references">
      <span>Built on <a href="http://code.edx.org">OpenEdX</a>.</span>
    </div>
-->
  </footer>
</div>

<div id="su-footer">
  <div class="su-container">
    <div class="su-row">
      <div id="su-footer-logo" class="span2">
        <a href="http://huesped.org.ar">
          <img src="${static.url('themes/stanford/images/footer_logo.png')}" alt="e-huesped"/>
        </a>
          %if course is not UNDEFINED:
            <div id="${course.id}"></div>
          %endif
      </div>

      <div id="su-footer-text" class="span10">
           <ul>
          <li>0800 222 HUESPED (4837)</li>
          <li>Pasaje Angel Peluffo 3932 (C1202ABB). Ciudad Autónoma de Buenos Aires - Argentina</li>
          <li>Tel/Fax: (5411) 4981 7777 . info@huesped.org.ar</li>   
        </ul>
        <div class="clear"></div>
      </div>
        <div id="su-footer-powered" class="poweredby">
        <a href="http://www.256ideas.com">Powered by 256ideas</a>
        </div>
      <div style="clear: both;"></div>
    </div>
  </div>
</div>
